# In the event of failure, the maximum number of times a redelivery will be attempted.
error.maxRedeliveries=10

# Fedora Repository location
fcrepo.baseUrl=http://localhost:8080/fcrepo/rest

# The camel URI for the incoming message stream.
input.stream=broker:topic:fedora

# The rest endpoint components
rest.host=localhost
rest.port=9101
rest.prefix=/idiomatic

# The RDF property to use as an external identifier
id.property=http://purl.org/dc/elements/1.1/identifier

