<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    {{#body.title}}
    <title>{{.}}</title>
    {{/body.title}}
  </head>
  <body>
    {{#body.title}}
    <h1>Fedora Template Service: {{.}}</h1>
    {{/body.title}}
    {{#body.date}}
    <h2>Custom Template: {{.}}</h2>
    {{/body.date}}
    {{#body.description}}
    <p>{{.}}</p>
    {{/body.description}}
  </body>
</html>
